.container {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
}

.left-side {
  display: inline-block;
  vertical-align: top;
  margin-right: 42px;
}

.right-side {
  display: inline-block;
  vertical-align: top;
}

.left-side div:first-child {
  margin-bottom: 42px;
}

.right-side div:not(:last-child) {
  margin-bottom: 98px;
}

.first-img {
  position: relative;
  display: inline-block;
}

.first-img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-weight: 700;
  font-size: 30px;
}
